
.raccordion {background: none repeat scroll 0 0 #429C46;color: #FFFFFF;margin: 1px 0;}
.raccordion-title {cursor: pointer;display: block;font-size: 14px;font-weight: bold;height: 20px;padding: 6px 10px;}
.raccordion-content {background: steelblue;color: #FFFFFF;font-size: 12px;padding: 10px;}
.raccordion-arrow {height: 28px;width: 29px;}
.arrow-up {background: url("../img/arrow-down.png") no-repeat scroll 99% 4px / 23px auto rgba(0, 0, 0, 0);}
.arrow-down {background: url("../img/arrow-up.png") no-repeat scroll 99% 4px / 23px auto rgba(0, 0, 0, 0);}